.main{
    background-color: #242424;
    border-radius: 20px;
    width: 95vw;
}

.bcard{
    background-color: #303030;
    color: rgb(231, 231, 231);
    border-radius: 20px;
    /* font-weight: bold;   */
    font-family:"Jockey One",monospace;
    box-shadow: #00000080 -1px 1px 20px 13px;
}
.bcard p.amt {
    font-size: 18px;
    color: #F0F0F0;
    word-break: break-all;
}

.bcard p.amt-label {
    font-size: 13px;
    color: #C8C8C8;
}
.profit{
    color: #04D900;
}

.btn-delete{
    background-color: #D01E1E;
    color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 5px 20px;
    font-weight: bold;
}

.bcard p{
    font-size: 17px;
}

.bcard .date{
    color: #adadad;
}

/* category_list css  */

#cat-list {
    font-size: 20px;
}

#cat-list div:nth-child(1){
    z-index: 10;
    width: 100%;
    border-right:1px solid #F0F0F0; ;

}

.cat-list-card{
    background-color: #303030;
    border-radius: 20px;
    padding: 10px 20px;
    color: #F0F0F0;
    box-shadow: #00000080 -1px 1px 20px 13px;
}


.cat-list-card i{
    font-size: 25px;
}

.cat-name{
    font-size: 20px;
}

#cat-add{
    border-radius: 15px;
    background-color: #04D900;
    color: #101010;
    border: none;
    padding: 2px 15px;
    font-size: 20px;
}
progress{
    background-color: #00000080;
    block-size: 5px;
    border-radius: 10px;
    appearance: none;
}
progress::-webkit-progress-bar {
    background-color: rgb(232, 232, 232);
}

progress::-webkit-progress-value {
    background-color: rgb(33, 195, 41);
}

@media screen and (min-width: 480px) {

    .bcard p.amt {
            font-size: 20px;
        }
    
        .bcard p.amt-label {
            font-size: 15px;         
        }
    
}