html,body {
    max-width: 100%;
    background-color: #020402;
    overflow-x:hidden;
}

.bg-gray{
    background-color: #2E2E2E;
}

.navbar-brand{
    color: rgb(232, 232, 232);
}

nav a:hover{
    color: #bebebe;
}

a.signup-btn:hover{
    color: #333333;
}

.green-border-btn{
    color: rgb(242, 242, 242);
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
    border: 1px solid #1FE51B;
}
.signup-btn{
    color: #020402;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

.text-white{
    color: #efefef;
}

#hero {
    background-color: transparent;    
}

#hero img{
    border-radius: 10%;
}

#about .row {
    color: #1a1a1a;
    text-align: center;
    justify-content: space-between;
    margin: 10px 10px 100px 0;
    /* background-color: #399ee2; */
}

#about h1 {
    font-size: 4vmax;
}


#about .row:nth-child(even) {
    flex-direction: row-reverse;
    /* align-items: center; */
    text-align: justify;
    align-content: space-between;
}

#footer {
    background-color: #2d2d2d;
    padding: 40px 0;
    color: #767676;
    position: relative;
    margin-top: 300px;
    text-align: justify;
}

.social-media a,
.social-media {
    color: rgb(138, 138, 138);
    margin-bottom: 20px;
    font-size: 24px;
    word-spacing: 3ch;
}

.social-media a:hover {
    color: #399ee2;
    transition: 0.5s;
}

/* new */
.navbar .navbar-nav>a>i {
    text-align: left;
    min-width: 30px;
}

.navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
}

.navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
}


.navbar .navbar-nav {
    margin: 8px 0;
}


.brand-name{
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
}

.brand-name p{
    margin-bottom: 0;
}

.brand-name p span:first-child{
    background-color: #ececec;
    color: #1b1b1b;
    padding: 10px 20px;
    margin-right:0 ;
}
.brand-name p span:nth-child(2){
    font-weight: bold;
}

#sidebar {
    /* top: 0; */
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #1a1a1a;
}
#sidebar .nav-text{
    font-size: 14px;
}
#sidebar i{
    font-size: 25px;
}
#sidebar i.nav-add{
    font-size: 40px;
    padding: 4px 6px;
    border-radius: 50px;
    /* border: solid rgb(240, 43, 43) 1px; */
    box-shadow:rgb(8 8 8) 0px 30px 60px -12px inset,
        rgb(131 129 129) 20px 6px 36px 18px inset}
#sidebar li,a{
    text-decoration: none;
    list-style-type: none;
    color: #e8e8e8;
    transition: 0.5s;
}

#sidebar a:hover{
    color: #b7b7b7;
}

.active{
    color: #04D900;
}

@media screen and (min-width: 480px) {
    #sidebar {
            border-radius: 20px;
            top: 10%;
            height: 80%;
            width: 80px;
            left: 35px;
            
        }
}

@media (min-width:992px) {
    #about .row {
        text-align: left;
    }

    #about h1 {
        line-height: 80px;
    }
}

@media (min-width: 1199px) {
    #img-div {
        visibility: visible;
    }
}