html,body {
    max-width: 100%;
    background-color: #020402;
    overflow-x:hidden;
}

.bg-gray{
    background-color: #2E2E2E;
}

.navbar-brand{
    color: rgb(232, 232, 232);
}

nav a:hover{
    color: #bebebe;
}

a.signup-btn:hover{
    color: #333333;
}

.green-border-btn{
    color: rgb(242, 242, 242);
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
    border: 1px solid #1FE51B;
}
.signup-btn{
    color: #020402;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 10px;
}

.text-white,.title{
    color: #efefef;
}

#hero {
    background-color: transparent;    
}

#hero img{
    border-radius: 10%;
}

.hcard{
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.content{
    color: rgb(168, 168, 168);
}

#about .row {
    color: #1a1a1a;
    text-align: center;
    justify-content: space-between;
    margin: 10px 10px 100px 0;
    /* background-color: #399ee2; */
}

#about h1 {
    font-size: 4vmax;
}


#about .row:nth-child(even) {
    flex-direction: row-reverse;
    /* align-items: center; */
    text-align: justify;
    align-content: space-between;
}

    #footer {
        background-color: #2d2d2d;
        padding: 40px 0;
        color: #767676;
        position: relative;
        margin-top: 300px;
        text-align: justify;
    }

    .social-media a,
    .social-media {
        color: rgb(138, 138, 138);
        margin-bottom: 20px;
        font-size: 24px;
        word-spacing: 3ch;
    }

    .social-media a:hover {
        color: #399ee2;
        transition: 0.5s;
    }

/* new */
.navbar .navbar-nav>a>i {
    text-align: left;
    min-width: 30px;
}

.navbar .navbar-collapse {
    border: none;
    box-shadow: none;
    padding: 0;
}

.navbar .navbar-form {
    border: none;
    display: block;
    margin: 10px 0;
    padding: 0;
}


.navbar .navbar-nav {
    margin: 8px 0;
}


.brand-name{
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
}

.brand-name p{
    margin-bottom: 0;
}

.brand-name p span:first-child{
    background-color: #ececec;
    color: #1b1b1b;
    padding: 10px 20px;
    margin-right:0 ;
}
.brand-name p span:nth-child(2){
    font-weight: bold;
}

#sidebar {
    /* top: 0; */
  
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: #1a1a1a;
}
#sidebar .nav-text{
    font-size: 14px;
}
#sidebar i{
    font-size: 25px;
}
#sidebar i.nav-add{
    font-size: 40px;
    padding: 4px 6px;
    border-radius: 50px;
    /* border: solid rgb(240, 43, 43) 1px; */
    box-shadow:rgb(8 8 8) 0px 30px 60px -12px inset,
        rgb(131 129 129) 20px 6px 36px 18px inset}
#sidebar li,a{
    text-decoration: none;
    list-style-type: none;
    color: #e8e8e8;
    transition: 0.5s;
}

a:hover{
    color: #04D900;
}

#sidebar a:hover{
    color: #b7b7b7;
}

.active{
    color: #04D900;
}

/* search button */
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #f2f2f2;
}

/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #4d4d4d;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

/* styling of Input */
input:-internal-autofill-selected {
    background-color: transparent !important;
}
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    color: rgb(245, 245, 245);
}

.form input::placeholder{
    color: #a2a2a2;
}

/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
}

input:focus {
    outline: none;
}



/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
.form svg {
    width: 17px;
}


@media screen and (min-width: 480px) {
    #sidebar {
            display: none;
            border-radius: 20px;
            top: 10%;
            height: 80%;
            width: 80px;
            left: 35px;
            
        }
}

@media (min-width:992px) {
    #about .row {
        text-align: left;
    }

    #about h1 {
        line-height: 80px;
    }
}

@media (min-width: 1199px) {
    #img-div {
        visibility: visible;
    }
}