<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/regis.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    {% block additional %}
    {% endblock additional %}

    <title>{%block title%}Home{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Brand<b>Name</b></a>
        {% if user.is_authenticated %}
        <button type="button" class="navbar-toggler col-2" data-toggle="collapse" data-target="#navbarCollapse"
            style="padding: 0;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

            <div class="navbar-nav ml-auto">
                <a href="{% url 'home' %}" class="nav-item nav-link"><i class="fa fa-home"></i><span>Home</span></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a>
                <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Message</span></a>
                <a href="{% url 'cat_info_add' %}" class="nav-item nav-link"><i
                        class="fa fa-dollar"></i><span>spend</span></a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
                            sizes="21,12" src="{{ user.profile_pic.url }}" class="avatar" alt="Avatar">
                        {{ user.username }} <b class="caret"></b></a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
                        <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
                        <a href="{% url 'cat_add' %}" class="dropdown-item"><i class="fa fa-plus"></i> Add Category</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i>
                            Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start"> -->

        <div class="ml-auto" style="display: inline-block;">
            <a href="{% url 'signup' %}"><button class="btn" id="signup"
                    style="border: 1px solid black;">Signup</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
        </div>
        <!-- </div> -->
        {%endif%}
    </nav>
    {% block content%}
    {% endblock content %}

</body>

</html>