<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

    <!-- fa icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/regis.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    {% block additional %}
    {% endblock additional %}

    {% block meta %}
    {% endblock meta %}

    <title>{%block title%}Home{% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="{% url 'home' %}" class="navbar-brand"><i class="fa fa-dollar"></i>Budget<b>Helper</b></a>
        {% if user.is_authenticated %}
        <button type="button" class="navbar-toggler col-2" data-toggle="collapse" data-target="#navbarCollapse"
            style="padding: 0;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">

            <div class="navbar-nav ml-auto">
                <a href="{% url 'home' %}" class="nav-item nav-link">
                    <i class="fa fa-home"></i><span style="text-align: center;">Home</span></a>
                <a href="{% url 'cat_list' %}" class="nav-item nav-link"><i
                        class="fa fa-pie-chart"></i><span>Analytics</span></a>
                <div class="nav-item dropdown col-6">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img
                            sizes="21,12" src="{{ user.profile_pic.url }}" class="avatar" alt="Avatar">
                        {{user.username}} <b class="caret"></b></a>
                    <div class="dropdown-menu" style="left:-20px">
                        <a href="{% url 'edit_profile' user.pk %}" class="dropdown-item"><i class="fa fa-user"></i>
                            Profile</a>
                        <a href="#" class="dropdown-item" onclick="cat_add()"><i class="fa fa-plus"></i> Add
                            Category</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item"><i class=" fa fa-power-off"
                                style="font-size: large;"></i>
                            Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start"> -->

        <div class="ml-auto" style="display: inline-block;">
            <a href="{% url 'signup' %}"><button class="btn" id="signup"
                    style="border: 1px solid black;">Signup</button></a>
            <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
        </div>
        <!-- </div> -->
        {%endif%}
    </nav>
    <div id="content">

        {% block content%}
        {% endblock content %}
    </div>
    <footer id="footer" class="mt- ">
        <div class="ml-1 mb-5 mt-auto row container">
            <div class="col-lg-6 col-12">

                <h4>BudgetHelper</h4>
                <p>Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                    dedicated to helping individuals take control of their finances and make informed decisions about
                    their
                    money. With our
                    user-friendly budgeting application, you can easily track your income and expenses, set budgets for
                    different
                    categories, and gain valuable insights into your spending habits.</p>
            </div>
            <div class="col-lg-6 col-12 pl-lg-5">
                <h4>Quick links</h4>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="#">About</a>
                <a href="#">Contacts</a>
            </div>

        </div>
        <div class="social-media text-center">
            <a href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="footer-copyright text-center col-12">© 2020 Copyright:
            <a href="/"> BudgetHelper</a>
        </div>
    </footer>
</body>

</html>