{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="cat-container col-12 col-lg-6 col-sm-10" style="color:aliceblue;">
        <form action="{% url 'cat_info_add' %}" method="post">
            {% csrf_token %}
            <div class="row">
                {% for fields in form %}

                <div class="col-3" style="margin: 5px auto;">
                    {{ fields.label }}
                </div>
                <div class="col-7" style="margin: 5px auto;">
                    {{ fields }}
                </div>

                {% endfor %}
                <input type="submit" class="offset-md-1 btn btn-primary" value="confirm">
            </div>
        </form>
        <span style="color: rgb(206, 45, 45);">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger" style="margin-top: 50px;">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </span>
    </div>
</div>
{% endblock content %}