{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
    Category Analytics - Budget Helper App
{% endblock title %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% if category.cat_info.all %}
    <div class="mt-5 mx-2 mx-md-0" style="overflow-x: scroll">
        <canvas class="row container mx-auto bg-gray mt-5" id="canvas_d" style="border-radius: 20px; width: 100%;">
    </div>

        </canvas>
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <script type="module">

// Append the SVG element.
var xValues = [];
var yValues = [];
var i = document.getElementById("canvas_d")
// {% for i in sum_per_day  %}

           
            yValues.push("{{ i.day_sum}}");
            xValues.push("{{i.day|date:'d M' }}")
           
            // {% endfor %}
            console.log(xValues,yValues)
            const data = {
                labels: ["jan","feb","march","april","may","june","july"],
                 datasets: [{
                    label: 'My First Dataset',
                    data: yValues[65, 59, 80, 81, 56, 55, 40],
                    }]
            }
            Chart.defaults.color = '#fff';
            // Chart.defaults.borderColor = '#';
            new Chart(i, {
                type: 'bar',
                data:{
                    labels: xValues,
                    datasets: [{
                        label:"Spending",    
                        data: yValues,
                        borderColor:'rgb(75, 192, 192)',
                        tension:0.5,
                        backgroundColor:'#04D900',
                        maxBarThickness: 40,
                        color:"#04D900"
                    }],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks:{
                                maxTicksLimit:4,
                            }
                        }
                    }
                },
        })
        </script>
        <div class="container main mt-1 py-4">
<p class="text-white" style="color: aliceblue;">
safaskjdf
    {{object}}
</p>
            {% for i in category.cat_info.all%}
                <div class="bcard d-flex flex-column px-5 py-2 mt-3">
                    <div class="d-flex">
                        <p class="my-auto">{{ i.item }}</p>
                        <p class="text-center date ml-auto my-auto">{{ i.date|date:"d D M Y" }}</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">&#8377 {{ i.spend }}</p>
                    </div>
                    <div class="d-flex">
                        <a href="{% url 'cat_info_delete' i.pk %}"
                           class="ml-auto text-center my-auto btn-delete">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <a href="{% url 'cat_info_add' %}"
           style="color: rgb(129, 129, 129);
                  font-size: larger">
            <div id="add-container" class="col-sm-6 col-12">
                <b>+ Add Spending</b>
            </div>
        </a>
    {% endif %}
{% endblock content %}
