{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
Category Analytics - Budget Helper App
{% endblock title %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
{% if category.category_info_set.all %}
<div class="row m-0">
    <canvas id="myChart" class="col-sm-6 mt-5" style="background-color: rgb(0, 18, 51); border-radius: 20px;"></canvas>
    <canvas id="pie" class="col-sm-6 mt-5"></canvas>
</div>

<script>
    var xValues = []
    var yValues = []
    var color = "white"
    // {% for obj in category.category_info_set.all %}
    xValues.push("{{ obj.date|date:'d M' }}")
    yValues.push({{ obj.spend }})
    // {% endfor %}


    console.log(xValues)
    console.log(yValues)

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: "Spend per day",
                lineTension: 0,
                display: true,
                fill: false,
                backgroundColor: color,
                borderColor: "rgba(254,254,254,0.7)",
                data: yValues
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: color,
                    fontSize: 14,
                }
            },
            scales: {
                yAxes: [{
                    gridLines: {
                        color: color
                    },
                    ticks: {
                        fontColor: color,
                        fontSize: 14,
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        fontColor: color,
                        fontSize: 14,
                        labelString: 'Amount Spend (Rs)'
                    }
                }],
                xAxes: [{
                    gridLines: {
                        color: color
                    },
                    ticks: {
                        fontColor: color,
                        fontSize: 14,
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Day',
                        fontColor: color,
                        fontSize: 14,
                    }
                }],
            },
        }
    });

    // pie chart
    var barColors = ["#060363", "#27b7de"]
    xValues = ["Amount Left", "Amount Spent"]
    yValues = ["{{ category.amt_left }}", {{ category.budget }}-{{ category.amt_left }}]
    new Chart("pie", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 14,
                }
            },
            title: {
                display: true,
                text: "{{category.name }} Analysis",
                fontColor: "white",
                fontSize: 14,
            }
        }
    });


</script>

<div class="container mt-5 mr-auto ml-0  text-left">
    {% for i in category.category_info_set.all %}
    <div class="cat-list justify-content-between d-flex col-12">
        <span class="ml-0 ml-sm-5" style="font-weight: bold;">{{i.item}}</span>
        <span style="font-weight: bold;">{{i.spend}}</span>
        <span style="font-weight: bold;">{{i.date|date:"d D M"}}</span>
        <a href="{% url 'cat_info_delete' i.pk%}" class="btn btn-danger mr-sm-5 mr-0">Delete</a>
    </div>
    {% endfor %}
</div>
{% else %}
<a href="{% url 'cat_info_add' %}" style="color: rgb(129, 129, 129);font-size: larger;">
    <div id="add-container" class="col-sm-6 col-12">
        <b>+ Add Spending</b>
    </div>
</a>
{% endif %}
{% endblock content %}