{% extends 'base.html' %}
{% load custom_tags %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script>
    var xValues = []
    var yValues = []

    // {% for obj in category.category_info_set.all %}
    xValues.push("{{ obj.date|date:'d M' }}")
    yValues.push({{ obj.spend }})
    // {% endfor %}


    console.log(xValues)
    console.log(yValues)

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: "Spend per day",
                display: true,
                fill: false,
                backgroundColor: "rgba(255,0,0,1.0)",
                borderColor: "rgba(0,0,255,0.5)",
                data: yValues
            }]
        },
        options: {
            legend: {
                display: true,
                labelString: "heh",
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Amount Spend (Rs)'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
            },
        }
    });
</script>


<p>{{category.name}} </p>
<p> {{category.budget}} budget</p>

{% for i in category.category_info_set.all %}
<p>{{i.spend}}</p>
<p>{{i.item}}</p>
<p>{{i.date|date:"d D M"}}</p>
{% endfor%}

{% endblock content %}