{% extends 'base.html' %}
{% block title %}
    Expense Categories - Budget Helper App
{% endblock title %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <div id="cat-list" class="d-flex py-3 mx-4 bcard">
        <div class="col-6 my-auto">
            <p class="text-center">Income</p>
            <p class="text-center mb-0">&#8377 {{ amt_left }}</p>
        </div>
        <hr>
        <div class="col-6">
            <p class="text-center">Expenses</p>
            <p class="text-center mb-0">&#8377 {{ spend }}</p>
        </div>
    </div>
    <div class="col-sm-6 mr-auto ml-0">
        <canvas id="pie1" style="width:100%;" style="border: 0;"></canvas>
        <script>
            var xValues = [];
            var yValues = [];
            var barColors = [
                "#7CB9E8", "#00308F", "#72A0C1", "#002D62", "#6CB4EE", "#002D62", "#007FFF", "#89CFF0",
                "#0066b2"];

            var sum = 0;

            // {% for i in category_list  %}

            xValues.push("{{i.name}}")
            yValues.push({{ i.budget }}-{{ i.amt_left }})
            sum += {{ i.amt_left }}
            // {% endfor %}
            console.log(yValues)
            xValues.push("Amount Left")
            yValues.push(sum)

            new Chart("pie1", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues,
                        borderWidth: 0,
                    }]
                },
                options: {
                    legend: {
                        labels: {
                            fontColor: "white",
                            fontSize: 14,
                        }
                    },
                    title: {
                        display: true,
                        text: "Category Analysis",
                        fontColor: "white",
                        fontSize: 14,
                    }
                }
            });
        </script>
    </div>
    <div class="d-flex">
        <div class="container main py-3">
            {% for i in category_list %}
                <div class="cat-list-card justify-content-around d-flex mb-3"
                     data-pk="{{ i.pk }}"
                     onclick="change(this)">
                         <i class="fa {{i.img}} my-auto"></i>
                    <div>
                        {% load custom_tags%}
                        <p class="cat-name mb-0">{{ i }}</p>
                        
                        <progress value="{% sub i.budget i.amt_left %}" max="{{i.budget}}">35%</progress>
                        <p class="mb-0">Amount left:{{i.amt_left}}</p>
                    </div>
                    <div class="d-flex flex-column">
                        <p class="mb-1 mx-auto my-auto">Total</p>
                        <p class="mb-0 my-auto">{{i.budget}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
