{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="cat-container" style="color:aliceblue;">
        <form action="" method="post">
            {% csrf_token %}
            {% for fields in form %}
            <div class=" row" style="margin: 10px 0;">

                <div class=" col-4" style="margin: 0;">
                    {{ fields.label }}
                </div>
                <div class="col-7">
                    {{ fields }}
                </div>

            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="confirm">
        </form>
        <span style="color: rgb(206, 45, 45);">
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger" style="margin-top: 50px;">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        </span>
    </div>
</div>
{% endblock content %}