{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="row" style="margin: 0px;">
    <div class="col-sm-6 text-white">
        <h2 class="text-center">lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, quae corrupti nemo saepe expedita, et magni
            perspiciatis iusto eos quas nobis doloribus aspernatur obcaecati sit ullam culpa quam aliquam eius. Lorem
            ipsum
            dolor sit amet consectetur adipisicing elit. Cum quo, soluta eaque minima laudantium quaerat maxime deleniti
            odio sapiente numquam minus nobis necessitatibus eum eligendi ullam fuga commodi cumque ipsum! Lorem ipsum
            dolor
            sit amet consectetur, adipisicing elit. Ducimus commodi consectetur mollitia necessitatibus placeat cumque
            assumenda, animi minus fugit sequi repellendus cum laudantium aut quisquam eos deserunt, nihil ipsum
            aliquid.

        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, explicabo eum repellat aut obcaecati,
            placeat dicta incidunt quam ullam, possimus fuga nihil? Tenetur nam officia repellat blanditiis iure
            excepturi
            illum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt et ad. Nesciunt, quaerat
            officiis! Voluptate qui debitis recusandae suscipit in harum est error? Aperiam repellendus odio ipsum iusto
            tempora.
        </p>
    </div>
    <div class="col-sm-6">
        <img src="{% static 'img/home.jpg' %}" alt="Image Here">
    </div>
</div>
{% load static %}

{% endblock %}