{% extends 'base.html' %}

{% load static %}

{% block title %}
About page - Budget Helper App
{% endblock title %}

{% block meta %}
<meta name="description"
    content="Learn more about Budget Helper App - a budget application based on categorical budgeting. Take control of your finances and manage your budget effectively.">
{% endblock meta %}

{% block content %}
<h1>About Page</h1>
<div class="text-white" id="about" style="margin-right: 15px;">
    <div class="row">
        <div class="col-lg-6">

            <h2>Introduction</h2>
            <p>
                Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                dedicated
                to
                helping
                individuals take control of their finances and make informed decisions about their money. With our
                user-friendly
                budgeting application, you can easily track your income and expenses, set budgets for different
                categories,
                and gain
                valuable insights into your spending habits.
                <!-- <br>
                        <b>Sign up now and take control of your expenses with Budget Helper App.</b> -->
            </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/home.jpg' %}" alt="Budget Helper App Image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <h2>Introduction</h2>
            <p>
                Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                dedicated
                to
                helping
                individuals take control of their finances and make informed decisions about their money. With our
                user-friendly
                budgeting application, you can easily track your income and expenses, set budgets for different
                categories,
                and gain
                valuable insights into your spending habits.
                <!-- <br>
                            <b>Sign up now and take control of your expenses with Budget Helper App.</b> -->
            </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/home.jpg' %}" alt="Budget Helper App Image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <h2>Introduction</h2>
            <p>
                Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                dedicated
                to
                helping
                individuals take control of their finances and make informed decisions about their money. With our
                user-friendly
                budgeting application, you can easily track your income and expenses, set budgets for different
                categories,
                and gain
                valuable insights into your spending habits.
                <!-- <br>
                                <b>Sign up now and take control of your expenses with Budget Helper App.</b> -->
            </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/home.jpg' %}" alt="Budget Helper App Image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <h2>Introduction</h2>
            <p>
                Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                dedicated
                to
                helping
                individuals take control of their finances and make informed decisions about their money. With our
                user-friendly
                budgeting application, you can easily track your income and expenses, set budgets for different
                categories,
                and gain
                valuable insights into your spending habits.
                <!-- <br>
                                <b>Sign up now and take control of your expenses with Budget Helper App.</b> -->
            </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/home.jpg' %}" alt="Budget Helper App Image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <h2>Introduction</h2>
            <p>
                Welcome to Budget Helper App, your go-to solution for effective financial management. We are
                dedicated to helping individuals take control of their finances and make informed decisions about their
                money. With our
                user-friendly budgeting application, you can easily track your income and expenses, set budgets for
                different
                categories, and gain valuable insights into your spending habits.
                <!-- <br>
                                <b>Sign up now and take control of your expenses with Budget Helper App.</b> -->
            </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'img/home.jpg' %}" alt="Budget Helper App Image">
        </div>
    </div>
</div>
{% endblock content %}